Element Selector: select all instances of that given element
h4 {
  color: blue
}
selected all h4 and give it the color blue
--------------------------------------------------------------------------
ID Selector: selects an element with a given ID

HTML file must have an element with an ID attribute (ONLY 1 ID NAME PER PAGE)
<ul>
  <li>Green</li>
  <li id="special">Blue</li>
  <li id="something">Purple</li> <----- different ID name
</ul>

In CSS file you call on the ID with #
#special {
  color: blue; <---------- this will only color the blue text blue
}
--------------------------------------------------------------------------
Class Selector: select all elements with a given class

In the HTML file you must have elements with a class attribute
<ul>
  <li class="special">Happy</li>
  <li class="special">Neutral</li>
  <li>Sad</li>
</ul>

In CSS file you call on class with .
.special {
  color: red;
}
---------------------------------------------------------------------------------
Star Selector: select all elements on the page
*{
  border: 1px solid blue;
}
--------------------------------------------------------------------------------
Descendant Selector: chain 2 elements

Selects every anchor tag within a li tag
li a {
  color: blue;
}
--------------------------------------------------------------------------------
Adjacent Selector: select the same elements next to each other

Selects all ul after a h4
h4 + ul {
  color: blue;
}
--------------------------------------------------------------------------------
Attribute Selctor: select all same attributes

Select all anchor tags with google link
a[href="http://www.google.com"] {
  background: green;
}
--------------------------------------------------------------------------------
nth of type Selector

Selects every 3rd li 
li:nth-of-type(3) {
  background: blue;
}
